<div class="container">
     <br>
     <h2 class="text-left">Product Management Section page</h2>
    
     <div class="row">

         <div class="col-4 text-left">
            <!-- <h4>Product Title</h4> -->
            <app-product-list [products]="products" (selectedProducts)="selectedProducts($event)"></app-product-list>
        </div>

        
        <div class="col-8 text-left">
            <!-- <h4>Product Details Section</h4> -->
            <app-product-details [product]="selectedProduct" (updateProduct)="selectedProducts($event)"></app-product-details>
       
            <app-product-form *ngIf="editedProduct"></app-product-form>
        </div>
        
      </div>
</div>
