/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
/* button{
    color: #444444;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    font-weight: bold;
    font-size: 0.8em;
} */
h1{
    text-align: center;
    color: orange;
    font-size: 3em;
}
h1 i{
    color: rgb(143, 116, 116);
    display: inline-block;
    transform: rotate(30deg);
}